body {
  background: #273343;
  font-family: 'Nunito', sans-serif;
  color: #fff;
  font-size: 18px;
  margin: 0;
}
a {
  color: #b1edf7;
}
.container {
  max-width: 680px;
  margin: 0 auto;
  padding: 1em;
}

h1, h2, h3 {
  font-family: 'Barlow', sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
}
p {
  margin: 0.8em 0;
}

header h1 {
  color: #ff5375;
  font-size: 62px;
  margin: 5px 0;
  line-height: 1em;
}
header h2 {
  color: #fff;
  font-size: 22px;
  margin: 5px 0;
  line-height: 1.3em;
}

section {
  margin: 42px 0;
  line-height: 1.4em;
}
section h3 {
  color: #ff5375;
  font-size: 24px;
  text-transform: uppercase;
}

.work ul {
  margin: 0;
  padding: 0 0 0 20px;
}
.work ul li {
  margin: .8em 0;
}